:root {
    --text-color: #fff;
    --text-color-active: #ffe800;
    --text-color-good: #7bc549;
    --text-color-average: #e49a27;
    --text-color-poor: red;

    --outline-color: #31353f;

    --horizontal-gap: 20px;
    --vertical-gap: 28px;

    --font: 'Open Sans', 'Arial', sans-serif;
    --font-size: 18px;
    --font-size-smaller: 14px;
    --font-size-bigger: 20px;
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans Regular'), local('OpenSans-Regular'), url('../fonts/OpenSans-Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src: local('Open Sans Bold'), local('OpenSans-Bold'), url('../fonts/OpenSans-Bold.woff2') format('woff2');
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 800;
    src: local('Open Sans ExtraBold'), local('OpenSans-ExtraBold'), url('../fonts/OpenSans-ExtraBold.woff2') format('woff2');
}

* {
    box-sizing: border-box;
}

html {
    background: #121213 url('../images/background.png') no-repeat 60% 0;
    color: var(--text-color);
    font-size: var(--font-size);
    font-family: var(--font);
    min-height: 100%;
    -webkit-font-smoothing: antialiased;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}

.visually-hidden {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0 !important;
    border: 0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
}

body {
    box-sizing: border-box;
    max-width: 800px;
    width: 100%;
    position: relative;
}

.body-overlay {
    width: 100vw;
    height: 100vh;
    background: rgba(255, 255, 255, 0.2);
    top: 0;
    left: 0;
    display: none;

}

.body-overlay.active {
    position: fixed;
    display: block;
}

.hide-overflow {
    overflow: hidden;
}

a:link {
    opacity: 1;
    text-decoration: none;
    transition: opacity 0.1s ease-in;
}

.container {
    padding: 0 50px;
}

.main {
    padding: 15px 0;
}

.head-field {
    max-height: 400px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    gap: 25px;
    border: 1px solid silver;
    padding: 20px;

    background-image: url('../images/bitcoin-png.png');
    background-size: 90% 90%;
    background-repeat: no-repeat;
    background-position: center;;
}

.header__data-buttons {
    position: absolute;
    right: 50px;
    top: 20px;
    display: flex;
    gap: 5px;
}

.data-button {
    padding: 5px 10px;
    background: none;
    color: var(--text-color);
    outline: none;
    cursor: pointer;
    border: 1px solid var(--text-color);
    transition: all .2s ease-out;
}

.data-button:hover {
    scale: 1.05;
}

.data-button:active {
    opacity: 0.5;
}

.save-load-popup {
    position: absolute;
    width: 300px;
    padding: 20px 40px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    z-index: 50;
    border: 1px solid silver;
    -webkit-box-shadow: 0 0 8px 3px rgba(184, 188, 191, 0.49);
    -moz-box-shadow: 0 0 8px 3px rgba(184, 188, 191, 0.49);
    box-shadow: 0 0 8px 3px rgba(184, 188, 191, 0.49);
    background: #121213;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.save-load-popup-buttons {
    width: 100%;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.save-load-popup-button {
    min-width: 40%;
    padding: 10px 20px;
    background: none;
    color: var(--text-color);
    outline: none;
    cursor: pointer;
    border: 1px solid var(--text-color);
    -webkit-box-shadow: 0 0 4px 2px rgba(184, 188, 191, 0.49);
    -moz-box-shadow: 0 0 4px 2px rgba(184, 188, 191, 0.49);
    box-shadow: 0 0 4px 2px rgba(184, 188, 191, 0.49);
    transition: all .2s ease-out;
}

.save-load-popup-button:hover {
    scale: 1.1;
}

.save-load-popup-button:active {
    opacity: 0.7;
}

.header__container {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.header__logo-rub {
    color: gold;
}

.header__logo-usd {
    color: rgb(26, 223, 26);
}

.header__user-section {
    display: flex;
    align-items: flex-end;
    gap: 10px
}

.start-popup {
    width: 400px;
    padding: 40px 20px;
    height: 300px;
    border: 1px solid silver;
    -webkit-box-shadow: 0 0 8px 3px rgba(184, 188, 191, 0.49);
    -moz-box-shadow: 0 0 8px 3px rgba(184, 188, 191, 0.49);
    box-shadow: 0 0 8px 3px rgba(184, 188, 191, 0.49);
    background: #121213;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 20%);
}

.start-popup__container {
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.start-popup__title {
    margin: 0;
}

.start-popup__text {
    margin: 0;
}

.start-popup__welcome-button, .start-popup__input-name-button {
    padding: 10px 20px;
    background: none;
    color: var(--text-color);
    outline: none;
    cursor: pointer;
    border: 1px solid var(--text-color);
    -webkit-box-shadow: 0 0 4px 2px rgba(184, 188, 191, 0.49);
    -moz-box-shadow: 0 0 4px 2px rgba(184, 188, 191, 0.49);
    box-shadow: 0 0 4px 2px rgba(184, 188, 191, 0.49);
}

.gender-button {
    width: 150px;
    height: 200px;
    margin-bottom: 30px;
}

#male {
    background-image: url('../images/man-button.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    cursor: pointer;
    transition: all .2s ease-out;
}

#female {
    background-image: url('../images/woman-button.png');
    background-size: 110% 115%;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    transition: all .2s ease-out;
}

#male:hover,
#female:hover {
    scale: 1.1;
}

.start-popup__avatar-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 100%;
}

.avatar-button {
    margin-top: 15px;
    width: 48%;
    height: 40%;
    background: none;
    outline: none;
    cursor: pointer;
    border: none;
    transition: all .2s ease-out;
}

.avatar-button:hover {
    scale: 1.1;
}

.avatar-button__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.start-popup__avatar-buttons__avatar-button {
    width: 48%;
    height: 40%;
    background: none;
    outline: none;
    cursor: pointer;
    border: none;
    transition: all .2s ease-out;
}

.start-popup__avatar-buttons__avatar-button:hover {
    scale: 1.1;

}

.avatar-button img {
    height: 100%;
    width: 100%;
}

.start-popup__input-name {
    margin-top: auto;
    margin-bottom: auto;
    height: 50px;
    width: 80%;
    border: 1px solid var(--text-color);
    -webkit-box-shadow: 0 0 4px 4px rgba(184, 188, 191, 0.49);
    -moz-box-shadow: 0 0 4px 4px rgba(184, 188, 191, 0.49);
    box-shadow: 0 0 4px 4px rgba(184, 188, 191, 0.49);
}


.head-field__child-field {
    border: 1px solid var(--text-color);
    display: inline-block;
    padding: 15px;
    line-height: 140%;
    background-color: #121213;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.head-field__work-container,
.head-field__expenses-container {
    width: 46%;
}

.head-field__child-field {
    width: 100%;
    cursor: pointer;
    transition: all .2s ease-out;
}

.head-field__child-field:hover {
    opacity: 0.7;
    scale: 1.05;
    z-index: 20;
}

.head-field__work-select-container {
    position: absolute;
    width: 400px;
    padding: 40px 20px;
    /*height: 150px;*/
    background: #121213;
    border: 1px solid silver;
    -webkit-box-shadow: 0 0 8px 3px rgba(184, 188, 191, 0.49);
    -moz-box-shadow: 0 0 8px 3px rgba(184, 188, 191, 0.49);
    box-shadow: 0 0 8px 3px rgba(184, 188, 191, 0.49);
    top: 0;
    left: 50%;
    transform: translate(-50%, 20%);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 10px;
    z-index: 10;
}

.head-field__work-select-container--dur {
    width: max-content;
}

.head-field__work-select-container--love {
    width: 80%;
    transform: translate(-50%, 8%)
}

.work-select-field {
    width: 48.5%;
    cursor: pointer;
    transition: all .2s ease-out;
    padding: 2px;
    line-height: 100%;
    color: black;
    height: 103px;
}

.work-select-field:hover {
    scale: 1.1;
    opacity: 1;
}

.head-field__close-work-select {
    width: 15px;
    height: 15px;
    padding: 0;
    font-size: 18px;
    color: lightslategrey;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    cursor: pointer;
    background-color: #121213;
    position: absolute;
    top: 12px;
    right: 12px;
    transition: all .2s ease-out;
}

.head-field__close-work-select:hover {
    color: #4285F4;
    scale: 1.3;
}

.footer__container {
    width: 100%;
    display: flex;
}

.footer__left-block,
.footer__right-block {
    width: 50%;
    padding: 0 5px;
}

.footer__title {
    font-size: 1.2em;
    margin: 0 0 10px;
}

.footer__debit-list,
.footer__credit-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.footer__debit-item,
.footer__credit-item {

}

.head-field__child-field {

}

.head-field__select-title {
    margin: 0;
    text-align: center;
}

.dur-coin-tap-title {
    display: block;
    width: 100%;
    margin: 0 auto 20px;
    text-align: center;
}

.dur-coin-tap-button {
    display: block;
    margin: 0 auto;
    padding: 0;
    width: max-content;
    border: none;
    outline: none;
    cursor: pointer;
    -webkit-box-shadow: 0 0 8px 3px rgba(184, 188, 191, 0.49);
    -moz-box-shadow: 0 0 8px 3px rgba(184, 188, 191, 0.49);
    box-shadow: 0 0 8px 3px rgba(184, 188, 191, 0.49);
    transition: all .2s ease-out;
}

.dur-coin-tap-button:hover {
    scale: 1.1;
}

.dur-coin-tap-button:active {
    scale: 1;
}

.dur-coin-tap-img {
    display: block;
    width: 450px;
}

.dur-coin-tap-hidden-coin {
    width: 50px;
    height: 50px;
    background-image: url('../images/toncoin-logo.png');
    background-size: cover;
    position: absolute;
    left: 35%;
    top: 55%;
    opacity: 0;
    transition: all .4s ease-out;
    scale: 0.7;
}

.dur-coin-tap-hidden-coin.active {
    opacity: 1;
    scale: 1.5;
    top: 100%;
}

.dur-coin-tap-hidden-phrase {
    padding: 40px 20px;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000000;
    font-size: 28px;
    background-color: #ffffff;
    position: absolute;
    left: 60%;
    top: 35%;
    opacity: 0;
    transition: all .4s ease-out;
    scale: 0.7;
}

.dur-coin-tap-hidden-phrase.active {
    opacity: 1;
    scale: 1.5;
}


.swiper-container {
    width: 600px;
}

.swiper-slide--love::before {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    content: "";
    font-size: 20px;
    font-weight: 700;
    align-items: center;
    justify-content: center;
    color: red;
    width: 215px;
    height: 200px;
    background-image: url('../images/heart.png');
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 100;
    display: none;
}

.swiper-slide--love.love::before {
    display: flex;
}

.swiper-container img {
    width: 100%;
    height: 500px;
    object-fit: cover;
}

.swiper-slide__description-container {
    position: relative;
}

.swiper-slide__description-name {
    font-size: 1.2em;
    font-weight: 600;
    letter-spacing: 2px;

}

.swiper-slide__description-container-button {
    position: absolute;
    right: 0;
    top: -10px;
    padding: 5px 20px;
    border: none;
    outline: none;
    cursor: pointer;
    background: white;
    transition: all .2s ease-out;
    z-index: 100;
    opacity: 0.5;
    pointer-events: none;
}

.swiper-slide__description-container-button:hover {
    scale: 1.2;
    right: 10px;
}

.swiper-slide__description-container-button:active {
    scale: 1;
    right: 0;
    opacity: 0.5;
}

.bank-input-field {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 45%;
    height: 18%;
    top: 10%;
    left: 0;
    z-index: 20;
    margin: 10% 27.5%;
    border-radius: 10px;
    padding: 20px 0;
    background: #121213;
    border: 1px solid silver;
    -webkit-box-shadow: 0 0 8px 3px rgba(184, 188, 191, 0.49);
    -moz-box-shadow: 0 0 8px 3px rgba(184, 188, 191, 0.49);
    box-shadow: 0 0 8px 3px rgba(184, 188, 191, 0.49);
}

.bank-input-field-all-money {
    margin: 0 0 10px;

}

.bank-input-field-day-credit {
    margin: 0 0 10px;
}


.bank-input-field-input {
    width: 80%;
    height: 40px;
    border: none;
    outline: none;
    text-align: center;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 0 10px;
    margin: 0 0 10px;
    transition: all .2s ease-out;
}

.bank-input-field-button-container {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.bank-input-field-button {
    padding: 5px 10px;
    color: #ffffff;
    background: none;
    outline: none;
    border: 1px solid silver;
    cursor: pointer;
    transition: all .2s ease-out;
}

.bank-input-field-button:hover {
    scale: 1.1;
}

.bank-input-field-button--enter {
    pointer-events: none;
    opacity: 0.5;
}


